.userdetail-header {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  height: 210px;

  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  padding: 30px 10px 0px 10px;

  align-items: center;
  justify-content: center;
  margin: auto;
}

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 50px 0px 50px;

  .vr {
    width: 100px;
    height: 0px;

    margin-top: 20px;

    opacity: 0.2;
    border: 1px solid #545f7d;
    transform: rotate(90deg);
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90px;

  justify-content: space-between;

  margin-right: 10px;

  img {
    margin-right: 20px;
    border-radius: 50%;
  }

  h3 {
    font-weight: 500;
    font-size: 22px;
    color: #213f7d;
  }

  h4 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 14px;

    color: #545f7d;
  }

  p {
    font-weight: 400;
    font-size: 14px;

    margin-top: 0;
    color: #545f7d;
  }
}

.header-nav {
  position: absolute;
  display: flex;
  flex-direction: row;

  // space items evenly
  justify-content: space-evenly;

  bottom: 0;
  margin: 0;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    margin: 1rem 1.7rem;


  }
  .active {
    text-decoration: underline;

    text-underline-offset: 15px;
    text-underline-position: under;
   

    text-decoration-thickness: 2px;

    color: #39cdcc;
  }

}
