.search-box {
  /* Rectangle 8 */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  width: 400px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  .search-input {
    /* Rectangle 8 */

    box-sizing: border-box;

    input {
      width: 344px;
      height: 100%;
      border: none;
      outline: none;
      
      // push text to the right while making sure it doesnt push right items out of the box
      padding-left: 1rem;


      background: transparent;
      
      
    }
  }

  .search-icon {
    box-sizing: border-box;
    display: flex;
    
    justify-content: center;
    align-items: center;

    background-color: #39CDCC;
    width: 56px;
    height: 100%;
    border-radius: 0px 8px 8px 0px;


  
    cursor: pointer;
  }
}
